body{
  font-family:arial;
  font-size:12pt;
  color:#2a6496;
}

.post-wrapper{
  float:left;
  width:100%;
  margin: 5% 0 0 0;
  padding: 0;
}

.blog-post-label{
  float:left;
  width: 100%;
  margin: 10% 0 0 0;
  padding: 0;
  text-align:center;
  font-weight:bold;
  font-size:16pt;
}

.blog-post-outer{
  float:left;
  width: 60%;
  margin: 2% 0 2% 20%;
  padding: 1%;
  background: #e0e0e0;
  border-radius: 6px;
  border: darkgreen solid 1px;
}

.blog-intro-text{
  float:left;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.blog-read-more{
  float:left;
  width: 100%;
  margin: 2% 0 0 0;
  padding: 0;
  text-align:center;
}